*
!.gitignore
!.gitconfig
!.git-prompt.sh
!.bash_profile
!.bashrc
!.bash_aliases
!bin/route_to_duts.sh
!.Xresources
!.xinitrc
!.urxvt/
!.urxvt/ext/
!.urxvt/ext/keyboard-select
!.urxvt/ext/pasta
!.urxvt/ext/resize-font
!.emacs.d/
!.emacs.d/init.el
!.emacs.d/my-functions.el
!.emacs.d/my-packages.el
!.config/
!.config/awesome/
!.config/awesome/rc.lua
!.config/awesome/awesome-wm-widgets
!.config/awesome/volume-control
!.config/xcolors/
!.config/xcolors/derp
!.config/xcolors/digerati
!.config/xcolors/dwmrob
!.config/xcolors/gnometerm
!.config/xcolors/jasonwryan
!.config/xcolors/phrak1
!.config/xcolors/rezza
!.config/xcolors/rydgel
!.config/xcolors/tango
!.config/xcolors/zenburn
!.ssh/
!.ssh/config
!.tmux.conf
!.vimrc
!.vim/
!.vim/plugins.vim
!.vim/bundle/
!.vim/bundle/Vundle.vim
!README.md
!UNLICENSE
!misc/
!misc/make.conf
!misc/xorg.conf.d/
!misc/xorg.conf.d/45-keyboard.conf
!misc/kernel/
!misc/kernel/config-4.14.52-hp-zbook
!gentoo_cheatsheet.txt
!source
!source/other_sources
!source/other_sources/pwfiles
!source/other_sources/pwfiles/dict
!source/other_sources/pwfiles/dict/SecLists
