[user]
	email = albert.veli@gmail.com
	name = Albert Veli
	signingkey = ~/.ssh/id_github.pub
[github]
	user = AlbertVeli
[alias]
	nicelog = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%aE>%Creset [%G?]'
	m = merge -S --no-ff --edit
	c = commit -S --edit
	search = log --all --grep
	last = log -1 HEAD --stat
	searchcommit = !git rev-list --all | xargs git grep -F
	oldest-ancestor = !bash -c 'diff -u <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
[commit]
	gpgsign = true
[gpg]
	format = ssh
[fetch]
	prune = true
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = true
	update = true
	initializenew = true
[push]
	recurseSubmodules = check
	autoSetupRemote = true
[pull]
	rebase = false
[log]
	date = iso
# Overwrite some lines in case of workdir
[includeIf "gitdir:~/Westermo/"]
	path = ~/.gitconfig-work
[init]
	defaultBranch = main
